
:root {
    --primary: #112d4e;
    --secondary: #3f72af;
    --glass: rgba(255, 255, 255, 0.2);
    --glass-icon: rgba(255, 255, 255, 0.3);
    --option: #3f71af3a;
  
  }

hr {
    opacity :100%;
    color: var(--primary);
    height: 2px;
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: none;
    color:black
  }
  
  ::-moz-selection {
    background: #dbe2ef;
  }
  
  ::selection {
    background: #dbe2ef;
  }
  
  
  .heading{
    background: url(https://images.unsplash.com/photo-1547355892-357e7122bfe2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80) no-repeat center / cover;
    color: white;
    margin-top: 0;
  }
  
  .headOverlay{
    background:rgba(0, 0, 0, 0.507);
  }
  
  .py-4 h3{
    font-size: 3.5rem;
    font-weight: 550;
  }
  
  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  .container-blog {
    width: 95%;
    max-width: 1500px;
    position: relative;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left {
    width: 55%;
    height: 440px;
    position: absolute;
    background: url("../images/blog.jpg")
      no-repeat center / cover;
    border-radius: 8px;
  }
  .right {
    position: absolute;
    top:-30px;
    left:100px;
    width: 55%;
    min-height: 350px;
    background-color: #dbe2ef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: #303137;
    
  }
  .right h1 {
    font-size: 40px;
    font-weight: lighter;
  }
  .right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
  }
  .right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
  }
  
  @media only screen and (max-width: 988px) {
    #container1 {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .left {
    
    }
    .right {
     
    }
  }
  
  #left-1{
      background: url("../images/Realistic.jpg")no-repeat center / cover;
      background-position: top;
  }
  
  #left-2{
    background: url("../images/Blog2.jpeg")
      no-repeat center / cover;
  }
  
  #left-3{
      background: url(../images/blog3.jpg)
      no-repeat center / cover;
  }
  
  #left-4{
      background: url(https://www.roxydisplayinc.com/image/mannequins/children/ita1-2-3-4-001b.jpg)
      no-repeat center / cover;
  }
  
  #left-5{
      background: url(../images/blog5.jpg)
      no-repeat center / cover;
  }
  
  #left-6{
    background: url(../images/Blogl.jpg)
    no-repeat center / cover;
  }
  
/*uskicss*/
.image{
    position: relative;
    width:50rem;
   
    height:35rem;
}
.image-back{
    position: absolute;
    top:-35px;
    border-radius: 1rem;
   left:-30px;
   width:40rem;
   z-index: 2;
   height:27rem;
  background:url('../images/Blog2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.img2{
    background: url('../images/f4.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    background: url('../images/display.jpg');
}
.img4{
    background: url('../images/Blogl.jpg');
}

.image-back2{
position: absolute;
    width:40rem;
    top:43px;
    padding: 3rem  2rem;
    z-index: 5;
    border-radius: 1rem;
    left:198px;
    height:27rem;
    background-color: rgb(207, 217, 236);
    overflow: hidden;
   
    
 }
 .image-back img{
     width:100%;
     height:100%;
 }

 @media(max-width:886px){
  .image-back{
    transform: translateX(10%);
}
.image-back2{
 transform: translateX(-10%);
} 
 }
 
@media screen and (max-width:768px){
    .row > .col-12 {
        padding:1rem !important;
    }
    .image{
        width:23rem;
    }
     .image-back{
         left:-152px;
         width:32rem;
         height:21rem;
         transform: translateX(10%);
     }
    .image-back2{
      transform: translateX(-10%);
        position: absolute;
        width: 32rem;
        top: 100px;
        z-index: 5;
        left: 10px;
        height: 24rem;
    }
}

@media(max-width:556px){
  .image-back{
    display: none;
    
}
.image-back2{
  margin:auto;
}
}

@media screen and (max-width:440px)
{
    .image{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    margin:-3rem auto;

    position: relative;
    }
    .image-back{
        display: none;
    }
    .image-back2{
        position: absolute;
        width: 100% !important;;
        height: 86% !important;;
        top:0;
        padding: 2rem auto;
        left:0;
    }
}
@media screen and (max-width:385px){
 .image-back2{
     width: 95% !important;;
     height: 100% !important;;
 }  
 .image{
     width:23rem;
     margin:2rem auto;
 }
}
@media screen and (max-width:320px){
    .image-back2{
        width: 95% !important;;
        height: 100% !important;;
    }  
    .image{
        width:19rem;
    }
   }