body{
   background-color: rgb(54, 105, 182) !important;
 
}

.fo {
    padding: 45px;
    border-radius: 1rem;
    background-color: rgba(7, 7, 7, 0.397);
}
.background a{
    text-decoration: none !important;
    color:white !important;
}