/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400&display=swap');
/* Global Css */
* {
  margin: 0;
  padding: 0;
  /* overflow-x:hidden; */
}

body,
html {
  width: 100%;
  font-family: "PT Serif";
}

p{
  font-family: 'Source Serif Pro', serif;
}

hr {
  opacity: 100%;
  color: var(--primary);
  height: 2px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

::-moz-selection {
  /* Code for Firefox */
  background: #dbe2ef;
  color:black;
}

::selection {
  background: #dbe2ef;
  color:black;
}

#landing div::selection {
  color: black;
}

.btn-custom {
  background-color: var(--primary);
  color: #f9f7f7;
}

.bg-custom {
  background: var(--secondary);
}

.bg-sec {
  background: var(--secondary);
}

/* Navbar */
.navbar-nav li {
  font-family: "PT Serif", serif;
  font-size: 18px;
  margin: 0 10px;
}


/* Footer */
.background {
  position: relative;
  overflow-x: hidden;
  height: auto;
  background: rgb(0,0,0,0.85);
  color:#FFF;
  max-width: 100%;
}

.background i{
  font-size: 1.1rem; margin-right: 10px;
}

.background h2{
  color:#fff;
  font-size: 1.2rem; margin-left: 25px;
}

.background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/footer-image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.background hr{
  color:White;
  margin-left: 0;
}

li {
  list-style: none;
  margin: 0.4rem 0rem;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.background a:hover{
  color: white;
}

@media (max-width:768px){
  .background .row{
    text-align: center;
    justify-content: center;
  }
  .background hr{
   margin-left: auto !important;
   margin-right: auto !important;
  }
  .background .col-12{
    margin-top:20px;
  }
}

  
@media (max-width:767px) { 
  .ki{
  padding-left: 0px;
}
     }